<!DOCTYPE html>
<html>
  <head>
    <title>My books</title>
    <!-- <link href='../public/css/mybooks.css' rel='stylesheet'/> -->
  </head>
  <body>
    <h1>My books</h1>
    <script src="/build/js/mybooks.js"></script>
  </body>
</html>
